@use 'vars' as *;
@use 'fonts';
@use 'buttons';
@use 'hero';

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 20px;
  font-family: $raleway-font;
}

header ul {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.container {
  max-width: 1440px; // Или твои 1440px
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  font-family: $machina-font;
  font-weight: 800;
  font-size: 36px;
}

.nav-list li {
  font-family: $raleway-font;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background-color: $btn_bg;
    opacity: 0;
    transition: opacity 0.15s ease;
    border-radius: 4px 4px 0 0;
  }

  &:hover::after {
    opacity: 1;
  }
}

.header__btn {
  color: white;
  background: $btn_bg;
  padding: 12px 32px 10px 32px;
  border-radius: 16px;
  font-size: 20px;
  font-family: $raleway-font;
  transition: background 0.15s ease;

  &:hover {
    cursor: pointer;
    background: $btn_hover;
  }
}

.header__socials {
  display: flex;
  gap: 15px;
  list-style: none;

  li {
    transition: transform 0.15s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
